---
import PageLayout from '@/layouts/CommonPage.astro'
import Signature from 'preset/components/signature/Signature.astro'
---

<PageLayout title='留言板' comment>
    <p>欢迎来到留言板</p>
<Signature mode="once-on-view" threshold={0.8} />
</PageLayout>
