---
import { Image } from 'astro:assets'

import { Button, Icon } from 'astro-pure/user'
// import { Collapse } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
// import ProjectSection from '@/components/projects/ProjectSection.astro'
// import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  //  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'services', text: '站点服务' },
  { depth: 3, slug: 'surrounding', text: '周边服务' },
  { depth: 3, slug: 'selfuse', text: '自用服务' },
  //  { depth: 2, slug: 'programs', text: 'Programs' },
  //  { depth: 2, slug: 'learnings', text: 'Learnings' },
  //  { depth: 2, slug: 'others', text: 'Others' },
   { depth: 2, slug: 'gpg-signature', text: 'GPG 签名' },
  { depth: 2, slug: 'sponsorship', text: '赞助' }
]
---

<PageLayout title='项目' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/ljxme'
      alt='github activities'
      width={663}
      height={104}
      loading='lazy'
    />
  </p>
  <p>如果您认为站点的某个项目有用或有趣，您可以捐款支持我的工作，或联系我讨论项目。</p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>
  <!-- 主题项目
  <h2 id='theme'>主题</h2>
  <ProjectSection
    projects={[
      {
        name: '🍭 Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://github.com/cworld1/astro-theme-pure' },
          {
            type: 'doc',
            href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          }
        ]
      }
    ]}
  />
-->
  <h2 id='services'>站点服务</h2>
  <h3 id='surrounding'>周边服务</h3>
  <ul>
    <li>
      <a href='https://mm.ljx.icu' target='_blank'>Li's Shuoshuo</a>：网站说说，一些闲话和小分享
    </li>
    <li>
      <a href='https://hot.ljx.icu' target='_blank'>Li's DailyHot</a
      >：每日热点汇总，一些热门文章的分享
    </li>
    <li>迁移中...</li>
  </ul>
  <h3 id='selfuse'>自用服务</h3>
  <ul>
    <li>
      <a href='https://tc.ljx.icu' target='_blank'>Li's ImgBed</a>：自建图床，用于博客图片的存放
    </li>
    <li>
      <a href='https://analytics.ljx.icu' target='_blank'>Li's Analytics</a>：用于分析网站数据
    </li>
    <li>迁移中...</li>
  </ul>
  <!-- 程序项目
  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: '📒 Notie',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          {
            type: 'release',
            href: 'https://github.com/cworld1/notie/releases'
          }
        ]
      },
      {
        name: '💄 PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>
  -->

  <!-- 学习项目
  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  />
-->
  <!-- 其他项目
  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />
-->
  <h2 id='gpg-signature'>GPG 签名</h2>
  <p>
    你可以通过检查 GPG 签名来验证我所签署文件的真实性。我的 GPG 密钥为 <code>0D0D188B016D73FF</code>，你可以在 OpenPGP 密钥服务器上找到它，或从该服务器下载该公钥。
  </p>
  <Button href='https://keys.openpgp.org/search?q=0D0D188B016D73FF' title='Checkout' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>

  <!-- sponsorship -->
  <h2 id='sponsorship'>赞助</h2>
  <p>请在赞助后留下一条消息或主动联系我。</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <!-- 
  <p>感谢以下赞助者：</p>
  <Sponsors
    sponsors={[
      { name: 'C*a（酷安@暴走の蜗牛）', amount: '2.00', date: '2019-07-02' },
      { name: '华雄(QQ：1300****71)', amount: '5.00', date: '2019-12-30' },
      { name: '◌(QQ：1934****45)', amount: '3.00', date: '2019-12-30' },
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' }
    ]}
  />
  -->
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
