.poem-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #6b4f3c;
  pointer-events: none;
  line-height: 2;
  letter-spacing: 2px;
  writing-mode: vertical-rl;
  display: block;
  background-size: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.poem-background p {
  margin: 0;
  font-size: 4.5rem;
  font-family: 'CaoShu Simp2Trad', serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), 0px 0px 12px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: auto;
  padding-top: 60px;
}

/* 词语背景样式 */
.words-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  color: #6b4f3c;
  pointer-events: none;
  line-height: 1;
  letter-spacing: 2px;
  writing-mode: horizontal-tb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  background-size: cover;
}

.words-background p {
  margin: 0;
  font-size: 4.5rem;
  font-family:'CaoShu Simp2Trad', serif;
  font-weight: 400;
  display: block;
  width: auto;
}

@media (max-width: 768px) {
  .poem-background,
  .words-background {
    display: none !important;
  }
}
